@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.header {
    width: 100%;
    height: auto;
    padding: 40px 200px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.header,
.footer {
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.button {
    display: block;
    color: #F9FAF8;
    background-color: rgb(98, 98, 244);
    padding: 10px 20px;
    border-radius: 7px;
    text-decoration: none;
    max-width: 100px;
    font-weight: bold;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    list-style-type: none;
    cursor: pointer;
}

.nav-links li:hover {
    color: white;
    box-shadow: 3px rgb(170, 167, 167);
}

.flex-container {
    display: flex;
}

.photo {
    width: 50%;
    height: 300px;
    background-color: #f2f2f25f;
    text-align: center;
    line-height: 30vh;
    border-radius: 5px;
}

.header-texts {
    display: flex;
    margin-top: 70px;
    width: 40%;
    flex-direction: column;
    gap: 15px;
}

.footer {
    padding: 25px;
    color: #ffffffc7;
    text-align: center;
}