.info {
    width: 100vw;
    height: auto;
    margin: 40px;
    text-align: center;
}

.info h2 {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    margin: 20px;
}

.cards-info {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.square {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.phrase {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    background-color: #E5E7EB;
    height: auto;
    padding: 50px;
    font-size: 25px;
    font-weight: lighter;
    font-style: italic;
    text-align: justify;
    color: #2e2a2ab5;   
}

.phrase p {
    width: 600px;
}

.rigth {
    padding-left: 20%;
    font-size: 17px;
    font-weight: 900;
    color: #1F2937;
}

.login {
    padding: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    background-color: #3882F6;
    padding: 25px 10px;
    border-radius: 5px;
    color: #E5E7EB;
}

.text-white {
    font-weight: 900;
    color: white;
}

.blue-card a {
    border: 2px solid #E5E7EB;
    padding: 5px 15px;
}